@import "../../global.scss";

.portfolio {
  background-color: rgb(234, 249, 248);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  h1 {
    font-size: 50px;

    @include mobile {
      font-size: 30px;
    }
  }
  ul {
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;

    @include mobile {
      margin: 10px 0;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .container {
    width: 70%;
    display: flex;
    //align-items: center;
    //justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    position: absolute;
    margin: auto;
    //bottom: 0;
    top: 150px;
    left: 0;
    right: 0;

    @include mobile {
      width: 100%;
    }

    .item {
      background-color: white;
      width: 600px;
      height: 300px;
      border-radius: 20px;
      border: 1px solid lightgrey;
      margin: 10px 20px;
      display: flex;
      justify-content: space-evenly;
      color: white;
      transition: all 0.5s ease;
      cursor: pointer;
      position: relative;
      overflow: hidden;

      @include mobile {
        width: 130px;
        height: 100px;
      }

      h3 {
        margin-top: 20px;
        font-size: 20px;
        position: absolute;
        text-align: center;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 1;
      }

      .infoContainer {
        display: flex;
        position: absolute;
        justify-content: center;

        .info {
          margin-top: 50px;
          margin-left: 20px;
          flex: 2;
          @include mobile {
            visibility: hidden;
          }
        }

        ul {
          margin-top: 50px;
          flex-direction: column;
          flex: 1;
          @include mobile {
            visibility: hidden;
          }
        }
      }

      .links {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;        
        bottom: 20px;

        .github {          
          .button {
            color: white;
            margin: 10px;
            border-radius: 2px;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
            visibility: hidden;
          }
        }

        .demo {          
          .button {
            text-align:center;
            color: white;
            background-color: crimson;
            margin: 10px;
            border-radius: 2px;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
            visibility: hidden;
            @include mobile {
              width: 5px;
              font-size: 5px;

            }
          }
        }
      }

      &:hover {
        background-color: $mainColor;
        img {
          opacity: 0.1;
          z-index: 0;
        }
        ul {
          border: 1px solid lightgrey;
        }
        .demo {
          .button {
            visibility: visible;
          }
        }
        .github {
          .button {
            visibility: visible;
          }
        }

      }
    }
  }
}
